services:
  backend:
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run dev
    ports:
      - "3001:3001"
    stdin_open: true
    tty: true

  frontend:
    build:
      context: ./frontend
      target: build
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
