name: Build & Deploy Backend

on:
  push:
    paths:
      - "backend/**"
      - ".github/workflows/backend.yml"
    branches: ["master"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build backend image
        run: |
          cd backend
          docker build --no-cache -t ${{ secrets.DOCKERHUB_USERNAME }}/tienda-backend:latest .

      - name: Push backend image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/tienda-backend:latest
