name: Deploy to Dokploy

on:
  push:
    branches: ["master"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SSH client
        run: sudo apt-get install -y openssh-client

      - name: Build and Push Backend
        run: |
          cd backend
          docker build --no-cache -t ethanr25/tienda-backend:latest .
          docker push ethanr25/tienda-backend:latest

      - name: Build and Push Frontend
        run: |
          cd frontend
          docker build --no-cache -t ethanr25/tienda-frontend:latest .
          docker push ethanr25/tienda-frontend:latest

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /etc/dokploy/compose/tienda-server-rnjdz9/code
            docker compose pull
            docker compose up -d --remove-orphans
