name: Build & Deploy Frontend

on:
  push:
    paths:
      - "frontend/**"
      - ".github/workflows/frontend.yml"
    branches: ["master"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build frontend image
        run: |
          cd frontend
          docker build --no-cache -t ${{ secrets.DOCKERHUB_USERNAME }}/tienda-frontend:latest .

      - name: Push frontend image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/tienda-frontend:latest
